@model IEnumerable<PCBuilderMVC.Models.CPU>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cores)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HyperThreaded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClockSpeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unlocked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Socket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductLineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BenchmarkScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BestUse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PowerRequirement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cores)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HyperThreaded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClockSpeed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unlocked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Socket)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductLineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BenchmarkScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BestUse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PowerRequirement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CpuId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CpuId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CpuId })
        </td>
    </tr>
}

</table>
