@model IEnumerable<PCBuilderMVC.Models.PSU>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wattage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Efficiency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wattage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Efficiency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PsuId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PsuId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PsuId })
        </td>
    </tr>
}

</table>
